.table  {
    border-collapse: collapse;
    margin: 40px auto 0;
}

.row__cell--red   {
    background-color: #FF004D;
}

.row__cell--green   {
    background-color: #008365;
}

.row__cell--blue   {
    background-color: #3B5998;
}

.row__cell--marsala  {
    background-color: #4C1A2C;
}

.row__cell--left    {
    text-align: left;
}

.row__cell--right {
    text-align: right;
}

.wrapper{
    display: flex;
    width: 1140px;
    margin: 0 auto;
    justify-content: center;
}

.form-filter   {
    margin: 0 auto;
    width: 300px;
}

.form-filter__header    {
    font-size: 18px;
}

.form-filter__input  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 0;
}

.input-filter {
    border: 1px solid #c4c4c4;
    outline: none;
}

.btn-filter--apply {
    width: 121px;
    cursor: pointer;
    padding: 3px;
    background-color:#c4c4c4;
    color: #fff;
    outline: none;
    border: 1px solid #fff;;
    transition: all 0.2s;
}
.btn-filter--apply:hover   {
    background-color:#fff;
    color: #c4c4c4;
    border: 1px solid #c4c4c4;
}

.btn-filter--reset {
    width: 175px;
    cursor: pointer;
    padding: 3px;
    background-color:#c4c4c4;
    color: #fff;
    outline: none;
    border: 1px solid #fff;;
    transition: all 0.2s;
}
.btn-filter--reset:hover   {
    background-color:#fff;
    color: #c4c4c4;
    border: 1px solid #c4c4c4;
}